body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #fdfbfb;
}

.container {
    width: 300px;
    margin: 230px auto;
    padding: 20px 50px;
    background-image: linear-gradient(to left, rgb(104, 181, 216),rgb(200, 208, 140));
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.725);
}

input[type="text"],
input[type="password"],
button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;

}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 320px;
    
}

button:hover {
    background-color: #0056b3;
}

.p{

    background-image:linear-gradient(to right,rgb(223, 58, 58),rgb(7, 8, 8));
    color:transparent;
    background-size: cover;
    background-clip: text;
    font-family: cursive;
    text-align: center;
    margin-top:42vh;
    font-size: 10vh;
}
